main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

#submitButton{
  margin-left: 25;
  display: block;
  text-align:left;
  
}

.block-label{
  display: block;
  text-align:left;
}
main,
input {
  font-size: 18px;
  line-height: 1.4;

  size:12
}

h2 {
  margin-bottom: 0;
}

ul,
div {
  padding-left: 40px;
}

li {
  margin: 10px 0;
  
  margin-left: 30%;

 
}

a {
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 0.8em;
  color: white;
}

li.done span {
  color: gray;
  text-decoration: line-through;
}

.hideme
{
    display:none;
    visibility:hidden;
}
.showme
{
    display:inline;
    visibility:visible;
}
.rain::before {
  background-image: url(https://freesvg.org/img/Cute-Rain-Cloud.png);
  height: 50px;
  width: 43px;
}

.sun::before {
  background-image: url(https://freesvg.org/img/Cartoon-Sun.png);
  height: 50px;
  width: 50px;
}

.cloudy::before {
  background-image: url(https://cdn.pixabay.com/photo/2013/04/01/09/22/clouds-98536_1280.png);
  height: 50px;
  width: 62px;
}
.invalid {
  border:1px solid red;
}
.valid {
  border:1px solid blue;
}
